<div class="mt-4">
  <div>
    <h3>Khóa học của tôi </h3>
    <a href="/me/trash/courses">Thùng rác</a>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Trình độ</th>
        <th scope="col" colspan="2">Thời gian tạo</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{@index}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
            <a href="" class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#exampleModal">Xóa</a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center">
                     Bạn chưa đăng khóa học nào. <a href="/courses/create">Đăng khóa học </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{!--Confirm delete course --}}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn xóa khóa học không ?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       Xóa khóa học 
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course"  type="button" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
{{!-- delete form--}}
<form name="delete-course-form" method="POST"></form>
<script>
      var courseId;
      var deleteForm = document.forms['delete-course-form'];
      var btnDeleteCourse = document.getElementById('btn-delete-course');
      document.addEventListener('DOMContentLoaded', function() {
        var exampleModal = document.getElementById('exampleModal');
        exampleModal.addEventListener('show.bs.modal', function(event) { 
          var button = event.relatedTarget;
          courseId = button.getAttribute('data-id');
        });
      });
      btnDeleteCourse.onclick = function(){
        deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
        deleteForm.submit();
 }
</script>