<div class="mt-4">
    <h3>Khóa học đã xóa </h3>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Trình độ</th>
        <th scope="col" colspan="2">Thời gian tạo</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{@index}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
            <a href="" id="btn-delete-course" class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#exampleModal">Xóa vĩnh viễn</a>
          </td>
        </tr>
        {{else}}
        <tr>
          <td colspan="5" class="text-center">
            Thùng rác trống. <br>
            <a href="/me/stored/courses">Quay lại trang danh sách khóa học.</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn xóa khóa học không ?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       Xóa khóa học không thể khôi phục
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!--------------}}
<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>
{{!--------------}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  var courseId;
  var deleteForm = document.forms['delete-course-form'];
  var restoreForm = document.forms['restore-course-form'];

  var btnDeleteCourse = document.getElementById('btn-delete-course');
  var restoreBtn = $('.btn-restore');

  document.addEventListener('DOMContentLoaded', function() {
    var exampleModal = document.getElementById('exampleModal');
    exampleModal.addEventListener('show.bs.modal', function(event) { 
      var button = event.relatedTarget;
      courseId = button.getAttribute('data-id');
    });
  });

  btnDeleteCourse.onclick = function() {
    deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
    deleteForm.submit();
  }

  // restore btn Clicked
  restoreBtn.onclick(function(e) {
    e.preventDefault();
    courseId = $(this).data('id');
    restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH'
    restoreForm.submit();
  });
</script>